@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/*Estilos generales*/
*{
    box-sizing: border-box;
}

body{
    display: flex;
    margin: 0;
    flex-direction: column;
    min-height: 100vh;
}
main {
    background-color: #FBB805;
    flex: 1;
    display: flex;
    flex-direction: column;
}
header{
    background-color: #111111;
    height: 100px;
}
footer{
    background-color: #111111;
    color:#ffffff;
    display: flex;
    flex-direction: column;
}
.titulo {
    font-size:2em;
    color:#000000;
    font-weight: 700;
    align-self: center;
}

/*Estilos navegador*/
.lista-enlaces {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.lista-enlaces li {
    margin-right: 10%;
}
.lista-enlaces li a {
    color: #FBB805;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 1em;
    
}
#btn-pagina-actual{
    font-weight: 800;
}
.nav-grid {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    padding: 0 20px;
}

.logo-titulo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.titulo-marca {
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1.5em;
    margin: 0;
    text-shadow: 
                2px 2px 0 #1E013B,  /* sombra abajo a la derecha */
                -2px -2px 0 #1E013B, /* sombra arriba a la izquierda */
                -2px 2px 0 #1E013B,  /* sombra abajo a la izquierda */
                2px -2px 0 #1E013B,  /* sombra arriba a la derecha */
                2px 0 0 #1E013B,     /* sombra a la derecha */
                -2px 0 0 #1E013B,    /* sombra a la izquierda */
                0 2px 0 #1E013B,     /* sombra abajo */
                0 -2px 0 #1E013B;    /* sombra arriba */
}
#logo {
    width: 100px;
    height: auto;
}
#contenedor-btn-login{
    width: 150%;
    background-color: #FBB805;
    border-radius: 3em;
    padding: 1% 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn-login{
    color: #111111;
    font-size: 0.9em;
    font-weight: 800;
    
}
.icon-user{
    font-size: 2em;
    margin:0;
    padding: 0;
}
/*Estilos footer*/
#contacto{
    display: flex;
    justify-content: space-around;
}
.contacto-items{
    display: flex ;
    flex-direction: column;
    margin-top: 25px;
    align-items: center;
}
.lista-logos{
    list-style-type: none;
    display: flex ;
    justify-content: center;
    
    padding-left: 0;
}
.lista-logos li {
    margin: 0 5%;
}
.logo-footer{
    font-size: 1.5em;
}
.lista-locales{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin:0;
    padding-left: 0;
}
.lista-locales li{
    flex: 1 0 33.33%;
    padding: 2% 6%;
}
#copyright{
    align-self: center;
}
/*Estilos Formulario*/
.contenedor-formulario {
    flex: 1;
    display: flex;
}
.formulario {
    background-color: #ffffff;
    width: 90%;
    margin: 5%;
    padding: 1% 3%;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    
    justify-content: space-around;
}
#formularioContacto {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    
}

.contenedor-datos-login{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5%;
    width: 80%;
    align-self: center;
}
.contenedor-datos-login label{ 
    font-weight: 600;
    font-family: sans-serif;
    color: #000000;
    font-size:x-small;
}
.btn-formulario{
    background-color: #000000;
    color: #ffffff;
    font-size: xx-small;
    align-self: center;
    border-radius: 0.3em;
    padding: 0.5em 1.5em;
    margin-top: 5% ;
    border:0;
    width: 80%;
}
.subtitulo-formulario{
    align-self: self-start;
    margin-left: 10%;
    font-size: xx-small;
}
#enlace-subtitulo{
    text-decoration: none;
}
