<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="icon" href="/static/img/icon.png" type="image/x-icon">
    <title>Contacto | PulgaBurger</title>
</head>
<body>
    <header>
        <nav class="nav-grid">
            <div class="logo-titulo">
                <img src="/static/img/logo.png" alt="logo" id="logo" class="nav-item">
                <h1 class="titulo-marca">La Pulga<br>Burger</h1>
            </div>
            <ul class="lista-enlaces">
                <li><a href="/inicio.html">INICIO</a></li>
                <li><a href="/templates/nosotros.html">NOSOTROS</a></li>
                <li><a href="/templates/menu.html">NUESTRO MENU</a></li>
                <li>
                    <article id="contenedor-btn-login">
                        <i class="bi bi-person icon-user"></i>
                        <a id="btn-login" href="/templates/login.html">INICIAR<br>SESION</a>
                    </article>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="formulario-contacto">
            <p>HOLAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
        </section>
    </main>
    <footer>
        <section id="contacto">
            <article class="contacto-items" id="titulo-logos">
                <h1 id="titulo-footer">La Pulga<br>Burger</h1>
                <ul class="lista-logos">
                    <li><i class="bi bi-facebook logo-footer"></i></li>
                    <li><i class="bi bi-youtube logo-footer"></i></li>
                    <li><i class="bi bi-twitter logo-footer"></i></li>
                    <li><i class="bi bi-instagram logo-footer"></i></li>
                </ul>
            </article>
            <article class="contacto-items" id ="desarolladores">
                <div id="contenedor-titulo-logo">
                    <h4>Desarrollado por</h4>
                    <i class="bi bi-github logo-desarolladores"></i>
                </div>
                <ul class="lista-desarolladores">
                    <li><a href="https://github.com/AntonioAguirreAA">Antonio Aguirre</a></li>
                    <li><a href="https://github.com/FernandezRodrigo373">Rodrigo Fernandez</a></li>
                    <li><a href="https://github.com/EzequielMonson">Ezequiel Monson</a></li>
                    <li><a href="https://github.com/AugustoMercado">Augusto Mercado</a></li>
                </ul>
            </article>
        </section>
        <p id="copyright">&copy; 2024 Ejemplo. Todos los derechos reservados.</p>
    </footer>
</body>
</html>